<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title >Cadastro  de Usuário</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

    <ion-list>

        <ion-item>
          <ion-label stacked>Primeiro Nome</ion-label>
          <ion-input type="text" #pnome></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Sobrenome</ion-label>
          <ion-input type="text" #unome></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>CPF</ion-label>
          <ion-input type="text" [brmasker]="{mask:'000.000.000-00', len:14}" #cpf ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" #email></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input type="password" name="telefone"  [brmasker]="{mask:'(00)00000-0000', len:14}" #senha></ion-input>
        </ion-item>

      
      </ion-list>
      <div class="ButtonCenter">
          <button ion-button round [navPush]="cadastroUsuarioPage" class="submit-btn"  (click)="cadastrarUsuario(pnome.value,unome.value, email.value, cpf.value, senha.value)" type="submit">CADASTRAR</button> 
        </div>

</ion-content>
