<ion-header center>
    <ion-navbar color="primary">
      <ion-title >Login</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content no-bounce >
      <ion-img width="100%" height="150" src="assets/img/cabecalho.PNG"></ion-img>

    <ion-list padding-top="40px">

        <ion-item>
          <ion-label floating>Usuário</ion-label>
          <ion-input [(ngModel)]="username" type="text" value="" #user></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input [(ngModel)]="password"  type="password" value="" #senha></ion-input>
        </ion-item>
      
    </ion-list>
    <div class="ButtonCenter">
      <button ion-button round [navPush]="cadastroUsuarioPage" >CADASTRE-SE</button> 
      <button ion-button round class="submit-btn"  (click)="login(user.value, senha.value)" type="submit">ENTRAR</button> 
    </div>
    <button style="margin-left: 135px; background-color: white; font-size: 13px; "  (click)="login(user.value, senha.value)">Esqueci a senha </button>
     
  </ion-content>
  