<ion-header center>
  <ion-navbar color="primary">
    <ion-title>Feedback</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-img width="100%" height="150" src="assets/img/cabecalho.PNG"></ion-img>

  <ion-list padding-top="40px">

    <ion-item>
      <ion-label>Assunto</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="sugestao">Sugestao</ion-option>
        <ion-option value="reclamacao">Reclamação</ion-option>
        <ion-option value="bug">Reportar bugs</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" #email></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked color="dark">Anotação</ion-label>
      <ion-textarea style="height: 150px;"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="ButtonCenter">
    <button ion-button round class="submit-btn" (click)="login(user.value, senha.value)" type="submit">ENVIAR</button>
  </div>

</ion-content>