page-mapa {

}
ion-title {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
  }