page-home {
     iframe {
    height: 99%;
  } 
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(100, 0, 0,1);
  z-index: 10000;
}

.card-background-page {
  img{
    height: 100%;
    width: 100%;
  }

  ion-card {
    position: relative;
    text-align: center;
    width: 95%;
    height: 30%;
    border-radius: 15px;  
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #FFFFFF;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #FFFFFF;
  }
    
}

ion-title {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}