<ion-header>
  <ion-toolbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content center>
  
  <ion-content class="card-background-page">
    <ion-card>
      <div class="overlay">
        <img src="assets/img/festa01.jpg"/>
      </div>
      <div class="card-title">Festa Top</div>
      <div class="card-subtitle">17h - 22h</div>
    </ion-card>
  
  
    <ion-card>
      <img src="assets/img/balada2.png"/>
      <div class="card-title">Amsterdam</div>
      <div class="card-subtitle">64 Listings</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/balada3.png"/>
      <div class="card-title">San Francisco</div>
      <div class="card-subtitle">72 Listings</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/balada4.png"/>
      <div class="card-title">Madison</div>
      <div class="card-subtitle">28 Listings</div>
    </ion-card>
  </ion-content>

</ion-content>