<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro de Evento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label stacked>Nome do evento</ion-label>
      <ion-input type="text" #nome></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Preço (R$)</ion-label>
      <ion-input type="text" name="money" [brmasker]="{money: true, decimal: 2}" #preco></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Idade mínima</ion-label>
      <ion-input type="number" #idade></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date início</ion-label>
      <ion-datetime displayFormat="DD MMM, YYYY HH:mm" [(ngModel)]="myDate" #dataInicio></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date Fim</ion-label>
      <ion-datetime displayFormat="DD MMM, YYYY HH:mm " [(ngModel)]="myDate1" #dataFim></ion-datetime>
    </ion-item>

  </ion-list>
  <div style="margin-left: 100PX ;">
    <button ion-button round class="submit-btn" (click)="cadastrarEvento(nome.value, preco.value, dataInicio.value, dataFim.value, idade.value)"
      type="submit">CADASTRAR</button>
  </div>

</ion-content>