<ion-header>
    <ion-navbar color="primary">
  
      <ion-title>Esqueci senha</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content no-bounce>
    <ion-img width="100%" height="150" src="../assets/img/cabecalho.PNG"></ion-img>
    
    <ion-list padding-top="40px">
  
      <ion-item width="90%" >
        <ion-label floating>Digite seu TOKEN para criar nova senha</ion-label>
        <ion-input type="text" value="" #token></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Nova Senha</ion-label>
          <ion-input [(ngModel)]="password"  type="password" value="" #senha></ion-input>
        </ion-item>
  
    </ion-list>
  
    <div style="margin-left: 140px ; margin-top: 40px">
      <button ion-button round class="submit-btn" (click)="validar(token.value)" type="submit">ENTRAR</button>
    </div>
  
  </ion-content>