<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro de Balada</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" #nome></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Rua</ion-label>
      <ion-input type="text" #rua></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Número</ion-label>
      <ion-input type="text" #numero></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bairro</ion-label>
      <ion-input type="text" #bairro></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cidade</ion-label>
      <ion-input type="text" #cidade></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="text" name="telefone"  [brmasker]="{mask:'(00)00000-0000', len:14}" #telefone></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>CNPJ</ion-label>
      <ion-input type="text" name="cnpj"  [brmasker]="{mask:'00.000.000./0000-00', len:19}" #cnpj></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" #email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input [(ngModel)]="password"  type="password" value="" #senha></ion-input>
    </ion-item>
  
  </ion-list>
  <div class="ButtonCenter">
      <button ion-button round [navPush]="cadastroUsuarioPage" class="submit-btn"  (click)="cadatrarBalada(nome.value,email.value,senha.value,rua.value,numero.value,bairro.value,cidade.value,telefone.value,cnpj.value)" type="submit" >CADASTRAR</button> 
    </div>
</ion-content>